<!DOCTYPE html>
<html>
  <head>
    <title>ToolWatch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
    />
  </head>
  <script>
    const today = new Date();
    const tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1);
    tomorrow.setUTCHours(0, 0, 0, 0);
    const tt = tomorrow.getTime();
    // Update the count down every 1 second
    let x = setInterval(function () {
      // Get today's date and time
      const now = new Date().getTime();

      // Find the distance between now and the count down date
      const distance = tt - now;

      // Time calculations for hours, minutes and seconds
      const hours = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.querySelector(".header-timer-space").innerText =
        hours + "h " + minutes + "m " + seconds + "s ";

      if (distance < 0) {
        clearInterval(x);
        tt = tomorrow.setDate(tomorrow.getDate() + 1);
      }
    }, 1000);
  </script>
  <body>
    <nav
      class="flex navbar navbar-expand-lg navbar-dark bg-dark"
      style="width: 100%"
    >
      <div
        class="container"
        style="font-family: 'Courier New', Courier, monospace"
      >
        <a class="navbar-brand" href="/">
          <div class="tool-title">ToolWatch</div></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <div class="nav-link active">
                <!-- check if last_checked is present in any one of the tool -->
                Last crawled on {% if tools and tools[0] and
                tools[0].last_checked %}
                <span>{{tools[0].last_checked}}</span>
                {% else %}
                <span>-</span>
                {% endif %}
              </div>
            </li>

            <!-- Add more navigation items as needed -->
          </ul>
        </div>
      </div>
    </nav>
    <div
      style="position: sticky; top: 5px; background-color: white; z-index: 1"
    >
      <form
        action="{{ url_for('search') }}"
        method="GET"
        style="display: flex; padding: 15px; justify-content: center"
      >
        <div class="form-outline" style="width: 75vw">
          <input
            type="search"
            id="search"
            name="search"
            class="wiki-search-input"
            placeholder="Search by Author, URL or Title"
            `{%
            if
            search_term
            %}
            value="{{ search_term }}"
            {%
            endif
            %}`
          />
        </div>
        <button type="submit" class="wiki-submit-btn"><b>Search</b></button>
      </form>
    </div>
    <div class="container mt-4">
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-4">
            <div class="alert alert-success" role="alert">
              <strong>{{ tools_up }}</strong> tools are up and running!
            </div>
          </div>
          <div class="col-md-4">
            <div class="alert alert-danger" role="alert">
              <strong>{{ tools_down }}</strong> tools are down!
            </div>
          </div>
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              <strong>{{ total_tools }}</strong> tools in total!
            </div>
          </div>
        </div>
      </div>  
      <table class="table table-striped" style="table-layout: fixed">
        <thead>
          <tr>
            <th>Tool</th>
            <th>Description</th>
            <th>Author</th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Whether the tool is available or not"
            >
              Health
            </th>
            <th>
              Details
            </th>
          </tr>
        </thead>
        <tbody>
          {% for tool in tools %}
          <tr>
            <td>
              <a
                href="{{ tool.url }}"
                target="_blank"
                style="word-wrap: break-word;
                text-decoration: none;"
              >
                {{ tool.title }}
              </a>
            </td>
            
            <td
              data-toggle="tooltip"
              data-placement="top"
              title="{{tool.description}}"
            >
              {{tool.description[:50]}}...
            </td>
            <td>{{ tool.author }}</td>
            <td>
              {% if tool.health_status == True %}
              <span class="badge bg-success">Available</span>
              {% else %}
              <span class="badge bg-danger">Unavailable</span>
              {% endif %}
            </td>
            <td>
              <button 
                class="badge bg"
                style="
                  background-color: #fff;
                  border: 1px solid #d5d9d9;
                  border-radius: 8px;
                  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
                  box-sizing: border-box;
                  color: #0f1111;
                  cursor: pointer;
                  display: inline-block;
                  font-family: 'Amazon Ember', sans-serif;
                  font-size: 13px;
                  line-height: 29px;
                  padding: 0 10px 0 11px;
                  position: relative;
                  text-align: center;
                  text-decoration: none;
                  user-select: none;
                  -webkit-user-select: none;
                  touch-action: manipulation;
                  vertical-align: middle;
                  width: 100px;
                "
                role="button"
              >
                <span>
                  <a href="tools/{{tool.id}}" style="color:#0f1111; text-decoration: none;">Learn more</a>
                </span>
              </button>
            </td>
            <!-- <td>{{ tool.last_checked }}</td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="alert alert-primary" role="alert">
        Note: URLs that do not have a <code>parsed_url.netloc</code> of
        <code>*.toolforge.org</code> are not shown.
      </div>
      <div
        style="
          margin-bottom: 30px;
          display: flex;
          justify-content: space-between;
        "
      >
<!-- Pagination -->
<div class="d-flex justify-content-between align-items-center mt-4">

  <nav aria-label="Page navigation">
    <ul class="pagination">

<!-- First Button -->
{% if curr_page > 1 %}
<li class="page-item">
  <a class="page-link" href="{{ url_for('index', page=1) }}" aria-label="First">
    <span aria-hidden="true">&laquo;&laquo;</span>
    <!-- <span class="sr-only">First</span> -->
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <span class="page-link">&laquo;&laquo;</span>
</li>
{% endif %}

<!-- Previous Button -->
{% if curr_page > 1 %}
<li class="page-item">
  <a class="page-link" href="{{ url_for('index', page=curr_page-1) }}" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
    <!-- <span class="sr-only">Previous</span> -->
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <span class="page-link">&laquo;</span>
</li>
{% endif %}

<!-- Current Page Display -->
<li class="page-item">
<input 
  type="text" 
  class="form-control" 
  value="{{ curr_page }}" 
  readonly 
  style="width: 50px; text-align: center; color: #0d6efd;"
/>
</li>

<!-- Next Button -->
{% if curr_page < total_pages %}
<li class="page-item">
  <a class="page-link" href="{{ url_for('index', page=curr_page+1) }}" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
    <!-- <span class="sr-only">Next</span> -->
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <span class="page-link">&raquo;</span>
</li>
{% endif %}

<!-- Last Button -->
{% if curr_page < total_pages %}
<li class="page-item">
  <a class="page-link" href="{{ url_for('index', page=total_pages) }}" aria-label="Last">
    <span aria-hidden="true">&raquo;&raquo;</span>
    <!-- <span class="sr-only">Last</span> -->
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <span class="page-link">&raquo;&raquo;</span>
</li>
{% endif %}
      </div>
      <footer class="tool-footer">
        <a
          style="display: flex; justify-content: center"
          href="https://github.com/gopavasanth/toolwatch"
          >Source code (MIT License)</a
        >
        <div class="tool-next-timer">
          Next crawl in <span class="header-timer-space">00h 00m 00s</span>
        </div>
      </footer>
    </div>

    <!-- Add Bootstrap JS scripts at the end of the body -->
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>
  </body>
</html>