<!DOCTYPE html>
<html>
  <head>
    <title>ToolWatch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">ToolWatch - Wikimedia Tools</h1>
      <div>
        <form
          action="{{ url_for('search') }}"
          method="GET"
          style="display: flex"
        >
          <div class="form-outline" style="width: 100vw">
            <input
              type="search"
              id="search"
              name="search"
              class="form-control"
              placeholder="&#128270; name: tool_name"
              `{%
              if
              search_term
              %}
              value="{{ search_term }}"
              {%
              endif
              %}`
            />
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          {% for tool in tools %}
          <tr>
            <td>
              <a href="https://{{ tool.name }}.toolforge.org" target="_blank">
                {{ tool.name }}.toolforge.org
              </a>
            </td>
            <td>{{ tool.title }}</td>
            <td>{{ tool.author }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div
        style="
          margin-bottom: 30px;
          display: flex;
          justify-content: space-between;
        "
      >
        <div>{{curr_page}} / {{total_pages}}</div>
        <div>
          {% if curr_page > 1 %}
          <a href="{{ url_for('index', page=curr_page-1) }}">Previous</a>
          {% endif %} {% if curr_page < total_pages %}
          <a href="{{ url_for('index', page=curr_page+1) }}">Next</a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Add Bootstrap JS scripts at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
