<!DOCTYPE html>
<html>
  <head>
    <title>ToolWatch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>ToolWatch - Wikimedia Tools Information</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          {% for tool in tools %}
          <tr>
            <td>{{ tool.name }}</td>
            <td>{{ tool.title }}</td>
            <td>{{ tool.description }}</td>
            <td>{{ tool.author }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
